@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
:root {
  --background-deafult: #e56262;
  --light-color: #fff;
  --animation-in: 0.5s ease-in 0s 1 normal forwards;
  --animation-out: 0.5s ease-out 0s 1 normal forwards;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 10px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-family: 'Nunito', Helvetica, sans-serif;
  text-align: center;
  background: var(--background-deafult);
}

.center {
  height: 90px;
  width: 90px;
  position: absolute;
  color: #fff;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  opacity: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
  background-color: white;
  position: absolute;
}
.circle.big {
  height: 90px;
  width: 90px;
  animation: jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}
.circle.medium {
  height: 60px;
  width: 60px;
  animation: jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) 0.2s infinite
    alternate;
}

.circle.small {
  height: 30px;
  width: 30px;
  animation: jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) 0.5s infinite
    alternate;
}
@keyframes jump-1 {
  0%,
  40% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
